.hero-banner {
  background-color: $colour-banner-placeholder;
  height: 470px;
  position: relative;
  width: 100%;

  h1 {
    font-size: 12px;
    position: absolute;
    top: -30px;
  }

  .banner-title {
    height: 83px;
    left: 50px;
    position: absolute;
    top: 180px;
    width: 800px;
  }
}
