.main-container {
  background-color: $colour-main-bg;
  display: block;
  margin: 0 auto;
  max-width: $size-main-width;
  text-align: left;
  width: 100%;

  .content {
    padding: 20px;
  }

  .content-block {
    border: 1px solid $colour-mine-shaft;
    margin-bottom: 50px;
    padding: 20px;

    &.promo {
      border: 0;
      text-align: center;

      h2 {
        font-size: 4rem;
      }

      h3 {
        color: $colour-zambezi;
        font-size: 2rem;
      }
    }

    &.gallery {
      border: 0;

      .gallery-images {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .flex-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;

    .flex-block {
      flex-grow: 3;
      margin: 10px 0;
      min-width: 33%;
    }
  }

  .google-map {
    border: 0;
    height: 300px;
    width: 100%;
  }

  .social-link {
    align-items: center;
    display: flex;
    font-size: 1.1rem;
    text-decoration: none;

    .svg-icon {
      $size: 22px;

      fill: $colour-white;
      height: $size;
      margin-right: 6px;
      transition: fill 0.2s ease;
      width: $size;
    }

    &:hover .svg-icon {
      fill: $colour-del-rio;
    }
  }

  @media only screen and (max-width: ($size-main-width - 1)) {
    .content-block {

      &.promo {
        h2 {
          font-size: 2.5rem;
        }
        h3 {
          font-size: 1.5rem;
        }
      }

      &.gallery .gallery-images {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        width: 250px;

        &> * {
          margin: 20px 0;
        }
      }

      .flex-blocks .flex-block {
        width: 100%;
      }
    }
  }
}
