body,
html {
  background-color: $colour-body-bg;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  color: $colour-white;
  transition: color 0.2s ease;

  &:hover,
  &:active,
  &:focus {
    color: $colour-del-rio;
  }
}

address {
  font-style: normal;
  margin: 14px 0;
}
