
// colours
$colour-black: #040404;
$colour-mine-shaft: #2B2B2B;
$colour-white: #F1F1F1;

// assigned colours
$colour-banner-placeholder: $colour-black;
$colour-body-bg: $colour-mine-shaft;
$colour-main-bg: $colour-black;
$colour-text-main: $colour-white;

// sizes
$size-main-width: 900px;
