
// colours
$colour-alto: #DDD;
$colour-black: #040404;
$colour-mine-shaft: #2B2B2B;
$colour-nobel: #B4B4B4;
$colour-white: #F1F1F1;
$colour-zambezi: #665959;

// assigned colours
$colour-banner-placeholder: $colour-black;
$colour-body-bg: $colour-mine-shaft;
$colour-main-bg: $colour-black;
$colour-text-main: $colour-nobel;
$colour-text-heading: $colour-white;

// sizes
$size-main-width: 900px;
